@model DayBuddy.Models.UserProfile

@{
    ViewData["Title"] = "Buddy Chat";
    Layout = "~/Views/Shared/_AuthLayout.cshtml";
}

<input type="hidden" id="loggedInUserId" value="@ViewBag.UserId" />
<div class="d-flex h-100">
    <div class="container-fluid d-flex" id="UserChat" style="padding-left: 0rem !important;">
        <div class="container-fluid d-flex flex-column">
            <div class="top-0 d-flex justify-content-between m-2 border-bottom text-center">
                <button onclick="toggleBuddyProfile()" class="m-1 btn outline-none-focus p-0 border-0 d-inline-flex align-items-center">
                    <div class="rounded-circle background-grass-green d-flex justify-content-center align-items-center" style="width: 35px; height: 35px;">
                        <img src="/Assets/Images/person.webp" style="width: 25px;" />
                    </div>
                    <label class=" btn text-dark fw-bold text-truncate m-1 fs-4">@Model.Name</label>
                </button>
                @if (ViewBag.IsPremium)
                {
                    <div class="text-white p-2 m-2 rounded-pill btn-info btn-outline-info rounded-6 d-flex align-items-center justify-content-center">
                        <label class="fw-bold mb-0">Premium Active</label>
                    </div>
                }
                else
                {
                    <label id="buddyChatTimer" dataCooldown="@ViewBag.Cooldown.TotalSeconds" 
                    class="fw-bolder text-black-50 rounded-6 p-1 fs-1"> @ViewBag.Cooldown.ToString(@"hh\:mm\:ss")</label>
                }
            </div>

            <div class="row flex-grow-1 overflow-hidden">
                <div class="d-flex flex-column overflow-auto hide-scrollbar"
                     id="messagesList" style="gap: 10px; max-height: 100%;">

                </div>
            </div>

            <form id="messageForm" class="d-flex mt-2 align-items-center">
                <input type="text" name="Message" id="messageInput"
                       class="form-control green-outline-focus custom-input me-2"
                       placeholder="Enter your message" autocomplete="off" />
                <button type="submit" id="sendButton"
                        class="green-outline-focus btn background-grass-green border-0 btn-outline-success text-white fw-bold">
                    Send
                </button>
            </form>
        </div>
    </div>
    <div class="border-start d-none d-lg-flex overflow-auto hide-scrollbar flex-column" id="BuddyProfile">
        <div class="container m-1 text-center">
                <div>
                    <div class="row m-1">
                        <label class="fw-bold text-dark">Age: </label>
                        <label class="text-light rounded-6 background-grass-green">@Model.Age</label>
                    </div>
                    <div class="row m-1">
                        <label class="fw-bold text-dark">Gender: </label>
                        <label class="text-light rounded-6 background-grass-green">@Model.Gender</label>
                    </div>
                    <div class="row m-1">
                        <label class="fw-bold text-dark">Sexuality: </label>
                        <label class="text-light rounded-6 background-grass-green">@Model.Sexuality</label>
                    </div>
                    <div class="row m-1">
                        <label class="fw-bold text-dark">Country: </label>
                        <label class="text-light rounded-6 background-grass-green">@Model.Country</label>
                    </div>
                    <div class="row m-1">
                        <label class="fw-bold text-dark">Interests: </label>
                        <div class="border rounded-6 border-1 flex-wrap p-1">
                            @foreach (string interest in Model.Interests)
                            {
                                <label class="text-dark p-1 m-1 fw-bold rounded-3 background-grass-green" style="font-size:10px;">@interest</label>
                            }
                        </div>
                    </div>
                    <a class="btn text-white green-outline-focus border-0 btn-danger rounded-pill m-1 fw-bold" asp-area="" asp-controller="DayBuddy" asp-action="UnmatchBuddy">Unmatch</a>
                    <button onclick="ShowReportModal()" class="btn green-outline-focus text-black-50 border-0 btn-secondary rounded-pill m-1 fw-bold">Report</button>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="modal" id="ReportUserModal">
    <div class="modal-dialog">
        <div class="modal-content">

            <div class="modal-header">
                <h5 class="fw-bold text-center">Report @Model.Name?</h5>
            </div>

            <div class="modal-body text-center">
                <div class="text-center">
                    <label class="text-dark fw-bold">You will never be matched with this person again!</label>
                    <label class="text-dark">Thanks for keeping DayBuddy safe for everyone, DayBuddy is managed by one single person, so reports help a lot.</label>
                </div>
            </div>

            <div class="modal-header row">
                <div class="text-center">
                    <label id="ReportLabel" class="text-info"></label>
                    <div class="form-group m-2 text-center">
                        <label class="control-label">Reason (Optional)</label>
                        <input id="ReportReasonInput" autocomplete="off" type="text" class="green-outline-focus form-control" />
                    </div>
                    <div class="d-flex justify-content-center m-2">
                        <button onclick="SendReport()" id="ReportBtn" class="btn rounded-6 outline-none-focus border-0 text-white fw-bold btn-danger">Report</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="~/js/signalr/dist/browser/signalr.js"></script>
<script src="~/js/utils/timeSpanTimer.js"></script>
<script src="~/js/BuddyChat.js"></script>