
@inject DayBuddy.Services.Caches.StatisticsCache statistics;
@{
    ViewData["Title"] = "Home Page";
}

<div class="hide-scrollbar">
    <div class="position-relative">
        <img src="/Assets/Images/malefriends.jpg"
             class="img-fluid w-100 h-100 shadow object-fit-cover" alt="Background Image" />

        <div class="position-absolute top-50 start-50 translate-middle text-center text-white">
            <h1 class="text-uppercase fw-bold text-grass-green" style="font-family: 'Segoe UI'; font-size: clamp(2rem, 5vw, 4rem);">
                Ready to find a buddy?
            </h1>
            <a class="btn btn-success green-outline-focus rounded-pill px-4 py-2 fw-bold mt-3"
               asp-area="" asp-controller="Home" asp-action="GetStarted">
                Sign In
            </a>
        </div>
    </div>

    <div class="container-fluid bg-light py-5">
        <div class="row align-items-center text-center">
            <div class="col-md-6">
                <h2 class="text-uppercase fw-bold text-dark mb-3" style="font-family: 'Segoe UI'; font-size: clamp(2rem, 4vw, 3rem);">
                    Get assigned a buddy
                </h2>
                <p class="text-muted" style="font-family: 'Segoe UI'; font-size: clamp(1rem, 3vw, 1.5rem);">
                    No need to give or recieve likes, you will get matched with someone to talk to every 8 hours!
                </p>
            </div>
            <div class="col-md-6">
                <img src="/Assets/Images/fists.jpg"
                     class="img-fluid rounded-3 shadow" style="object-fit: cover; height: 100%; width: 100%;" alt="Fists">
            </div>
        </div>
    </div>

    <div class="container-fluid bg-light py-5">
        <div class="row align-items-center m-2 p-1 border rounded-6 shadow text-center">
            <label class="fw-bold fs-3 text-warp" style="font-family: 'Segoe UI';">Full Transparency!</label>
            <div class="p-2">
                <div class="row row-cols-auto justify-content-center">
                    <div class="border rounded-6 m-1 p-1">
                        <div class="row">
                            <label class="fw-bold text-warp" style="font-family: 'Segoe UI';">Total Users</label>
                            <label class="text-warp" style="font-family: 'Segoe UI';">@statistics.TotalUsers</label>
                        </div>
                    </div>
                    <div class="border rounded-6 m-1 p-1">
                        <div class="row">
                            <label class="fw-bold text-warp" style="font-family: 'Segoe UI';">Active Users</label>
                            <label class="text-warp" style="font-family: 'Segoe UI';">@statistics.ActiveUsers</label>
                        </div>
                    </div>
                    <div class="border rounded-6 m-1 p-1">
                        <div class="row">
                            <label class="fw-bold text-warp" style="font-family: 'Segoe UI';">Premium Users</label>
                            <label class="text-warp" style="font-family: 'Segoe UI';">@statistics.PremiumUsers</label>
                        </div>
                    </div>
                    <div class="border rounded-6 m-1 p-1">
                        <div class="row">
                            <label class="fw-bold text-warp" style="font-family: 'Segoe UI';">Total Reports</label>
                            <label class="text-warp" style="font-family: 'Segoe UI';">@statistics.TotalReports</label>
                        </div>
                    </div>
                    <div class="border rounded-6 m-1 p-1">
                        <div class="row">
                            <label class="fw-bold text-warp" style="font-family: 'Segoe UI';">Total Bans</label>
                            <label class="text-warp" style="font-family: 'Segoe UI';">@statistics.TotalBans</label>
                        </div>
                    </div>
                    <div class="border rounded-6 m-1 p-1">
                        <div class="row">
                            <label class="fw-bold text-warp" style="font-family: 'Segoe UI';">Total Revenue</label>
                            <label class="text-warp" style="font-family: 'Segoe UI';">€@statistics.TotalRevenue</label>
                        </div>
                    </div>
                    <div class="border rounded-6 m-1 p-1">
                        <div class="row">
                            <label class="fw-bold text-warp" style="font-family: 'Segoe UI';">Total Expenses</label>
                            <label class="text-warp" style="font-family: 'Segoe UI';">€@statistics.TotalExpenses</label>
                        </div>
                    </div>
                    <div class="border rounded-6 m-1 p-1">
                        <div class="row">
                            <label class="fw-bold text-warp" style="font-family: 'Segoe UI';">Expected Expenses</label>
                            <label class="text-warp" style="font-family: 'Segoe UI';">€@statistics.ExpectedExpenses</label>
                        </div>
                    </div>
                </div>
                <div class="row p-2">
                    <div class="border rounded-6 col m-2 p-1">
                        <div class="row">
                            <label class="fw-bold text-warp" style="font-family: 'Segoe UI';">DayBudduy Future</label>
                            <label class="text-warp" style="font-family: 'Segoe UI';">@statistics.DayBudduyFuture</label>
                        </div>
                    </div>
                    <div class="border rounded-6 col m-2 p-1">
                    <div class="row">
                        <label class="fw-bold text-warp" style="font-family: 'Segoe UI';">Profits</label>
                            <label class="text-warp" style="font-family: 'Segoe UI';">€@statistics.Profits</label>
                    </div>
                </div>
                </div>
            </div>
        </div>
    </div>

    <footer class="bg-dark text-white py-3">
        <div class="container d-flex flex-column flex-md-row justify-content-between align-items-center">
            <p class="mb-0">&copy; 2024 - <span class="text-success">DayBuddy</span></p>
            <div class="d-flex flex-row align-items-center">
                <a class="text-success text-decoration-none mx-2" asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
                <a class="text-success text-decoration-none mx-2" asp-area="" asp-controller="Home" asp-action="TermsAndConditions">Terms & Conditions</a>
            </div>
        </div>
    </footer>
</div>
