@model DayBuddy.Models.UserProfile

@{
    ViewData["Title"] = "EditProfile";
    Layout = "~/Views/Shared/_AuthLayout.cshtml";
}


<nav class="text-center">
    <div class="d-flex justify-content-center">
        <h2 class="fw-bold">Profile</h2>
    </div>
</nav>

<hr />

<div class="text-center container-fluid justify-content-center d-flex p-md-5 h-100">
    <div class="row container align-content-between h-100 overflow-auto hide-scrollbar rounded-6">
        <div class="container d-flex justify-content-center row p-2">
            <button id="BtnName" class="green-outline-focus zoom-in-hover outline m-1 btn border container rounded-6 d-flex justify-content-between">
                <div class="align-content-end d-flex fw-bold">
                    @Html.DisplayNameFor(model => model.Name)
                </div>
                <div class="align-self-start text-truncate">
                    @Html.DisplayFor(model => model.Name)
                </div>
            </button>
            <button id="BtnAge" class="green-outline-focus zoom-in-hover btn m-1 border container rounded-6 d-flex justify-content-between">
                <div class="align-content-end d-flex fw-bold">
                    @Html.DisplayNameFor(model => model.Age)
                </div>
                <div class="align-self-start">
                    @Html.DisplayFor(model => model.Age)
                </div>
            </button>
            <button id="BtnGender" class="green-outline-focus zoom-in-hover btn m-1 border container rounded-6 d-flex justify-content-between">
                <div class="align-content-end d-flex fw-bold">
                    @Html.DisplayNameFor(model => model.Gender)
                </div>
                <div class="align-self-start">
                    @Html.DisplayFor(model => model.Gender)
                </div>
            </button>
            <button id="BtnSexuality" class="green-outline-focus zoom-in-hover btn m-1 border container rounded-6 d-flex justify-content-between">
                <div class="align-content-end d-flex fw-bold">
                    @Html.DisplayNameFor(model => model.Sexuality)
                </div>
                <div class="align-self-start">
                    @Html.DisplayFor(model => model.Sexuality)
                </div>
            </button>
            <button id="BtnLocation" class="green-outline-focus zoom-in-hover btn m-1 border container rounded-6 d-flex justify-content-center">
                <div class="row justify-content-center">
                    <h6 class="fw-bold">Location</h6>
                    @Html.DisplayFor(model => model.Country)
                    @Html.DisplayFor(model => model.City)
                </div>
            </button>
            <button id="BtnInterests" class="green-outline-focus row d-flex zoom-in-hover btn m-1 border container rounded-6 d-flex justify-content-between">
                <div class="align-content-end d-flex fw-bold">
                    @Html.DisplayNameFor(model => model.Interests)
                </div>
                <div class="d-flex flex-wrap">
                    @foreach (string interest in Model.Interests)
                    {
                        <h6 class="p-1 m-1 background-grass-green fw-bold text-white text-truncate rounded-3 border">@interest</h6>
                    }
                </div>
            </button>
            @if (Model.Premium)
            {
                <div class="btn text-white rounded-pill btn-info border row rounded-6 d-flex justify-content-center">
                    <label class="fw-bold fs-5 text-center" >Premium Active</label>
                    <label class="fw-bold fs-6 text-center">@ViewBag.PremiumDuration.Days Days</label>
                </div>
            }
            else
            {
                <div class="btn text-white rounded-pill bg-light border row rounded-6 d-flex justify-content-center">
                    <label class="fw-bold text-black-50 fs-5 text-center">Premium Inactive</label>
                </div>
            }
            <div class="d-flex justify-content-center">
            <a asp-controller="Account" asp-action="DeleteAccount" class="nav-link text-black-50">Delete Account</a>
            </div>
        </div>
    </div>
</div>
<div class="modal" id="ChangeNameModal">
     <div class="modal-dialog">
         <div class="modal-content">

            <div class="modal-header">
                <h5 class="fw-bold">Edit Name</h5>
            </div>

            <div class="modal-body text-center">
                <div class="text-center">
                    <div class="form-group m-2">
                        <label class="control-label">New Name</label>
                        <input name="newName" id="NewNameInput" type="text" class="green-outline-focus form-control" />
                        <label id="NewNameErrorLabel" class="text-danger"></label>
                    </div>
                </div>
            </div>

            <div class="modal-header">
                <button class="btn rounded-6 outline-none-focus border-0 text-white background-grass-green btn-outline-success"
                        onclick="EditName();">Save</button>
                <button class="btn rounded-6 outline-none-focus border-0 btn-secondary" data-bs-dismiss="modal"
                onclick="HideNameModal();">Close</button>
            </div>

         </div>
     </div>
</div>

<div class="modal" id="ChangeAgeModal">
    <div class="modal-dialog">
        <div class="modal-content">

            <div class="modal-header">
                <h5 class="fw-bold">Edit Age</h5>
            </div>

            <div class="modal-body text-center">
                <div class="text-center">
                    <div class="form-group m-2">
                        <label class="control-label">New Age</label>
                        <input name="newAge" id="NewAgeInput" type="number" class="green-outline-focus form-control" />
                        <label id="NewAgeErrorLabel" class="text-danger"></label>
                    </div>
                </div>
            </div>

            <div class="modal-header">
                <button class="btn rounded-6 outline-none-focus border-0 text-white background-grass-green btn-outline-success"
                        onclick="EditAge();">Save</button>
                <button class="btn rounded-6 outline-none-focus border-0 btn-secondary" data-bs-dismiss="modal"
                        onclick="HideAgeModal();">Close</button>
            </div>

        </div>
    </div>
</div>

<div class="modal" id="ChangeGenderModal">
    <div class="modal-dialog">
        <div class="modal-content">

            <div class="modal-header">
                <h5 class="fw-bold">Edit Gender</h5>
            </div>

            <div class="modal-body text-center">
                <div class="text-center">
                    <div class="form-group m-2">
                        <label class="control-label">Select Gender</label>
                        <div class="d-flex justify-content-center flex-wrap" id="GendersList">
                        </div>
                    </div>
                </div>
            </div>

            <div class="modal-header justify-content-center">
                <button class="btn rounded-6 outline-none-focus border-0 btn-secondary" data-bs-dismiss="modal"
                        onclick="HideGenderModal();">Close</button>
            </div>

        </div>
    </div>
</div>

<div class="modal" id="ChangeSexualityModal">
    <div class="modal-dialog">
        <div class="modal-content">

            <div class="modal-header">
                <h5 class="fw-bold">Edit Sexuality</h5>
            </div>

            <div class="modal-body text-center">
                <div class="text-center">
                    <div class="form-group m-2">
                        <label class="control-label">Select Sexuality</label>
                        <div class="d-flex justify-content-center flex-wrap" id="SexualityList">
                        </div>
                    </div>
                </div>
            </div>

            <div class="modal-header justify-content-center">
                <button class="btn rounded-6 outline-none-focus border-0 btn-secondary" data-bs-dismiss="modal"
                        onclick="HideSexualityModal();">Close</button>
            </div>

        </div>
    </div>
</div>

<div class="modal" id="ChangeLocationModal">
    <div class="modal-dialog">
        <div class="modal-content">

            <div class="modal-header">
                <h5 class="fw-bold">Edit Location</h5>
            </div>

            <div class="modal-body text-center">
                <div class="text-center">
                    <div class="form-group m-2">
                        <label class="control-label">Select Location</label>
                        <div class="d-flex justify-content-center">
                            <div class="rounded-3 p-2 background-grass-green">
                                <label class="control-label fw-bold">Country</label>
                                <select id="NewCountryInput" class="text-black green-outline-focus form-control">
                                </select>
                            </div>
                        </div>

                        <label id="NewLocationErrorLabel" class="text-danger"></label>
                    </div>
                </div>
            </div>

            <div class="modal-header justify-content-center">
                <button class="btn m-1 rounded-6 outline-none-focus text-white border-0 btn-success background-grass-green"
                        onclick="EditLocation();">Save</button>
                <button class="btn m-1 rounded-6 outline-none-focus border-0 btn-secondary" data-bs-dismiss="modal"
                        onclick="HideLocationModal();">Close</button>
            </div>

        </div>
    </div>
</div>

<div class="modal" id="ChangeInterestsModal">
    <div class="modal-dialog">
        <div class="modal-content">

            <div class="modal-header">
                <h5 class="fw-bold">Edit Interests</h5>
            </div>

            <div class="modal-body text-center">
                <div class="text-center">
                    <div class="form-group m-2">
                        <label class="control-label">Select Interests</label>
                        <label id="InterestCount" class="control-label">(0/5)</label>
                        <!-- Set a max-height and make it scrollable -->
                        <div class="d-flex border rounded-3 justify-content-center flex-wrap" id="InterestsList" style="max-height: 300px; overflow-y: auto; scrollbar-width: thin;">
                        </div>
                    </div>
                </div>

                <label id="NewInterestsErrorLabel" class="text-danger"></label>
            </div>

            <div class="modal-header justify-content-center">
                <button class="btn rounded-6 m  -1 outline-none-focus border-0 background-grass-green btn-success"
                        onclick="EditInterests();">Save</button>
                <button class="btn rounded-6 m-1 outline-none-focus border-0 btn-secondary" data-bs-dismiss="modal"
                        onclick="HideInterestsModal();">Close</button>

            </div>

        </div>
    </div>
</div>


<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="~/js/Profile.js"></script>
