@model DayBuddy.Models.UserProfile

@{
    ViewData["Title"] = "EditProfile";
    Layout = "~/Views/Shared/_AuthLayout.cshtml";
}


<nav class="text-center">
    <div class="d-flex justify-content-center">
        <h2 class="fw-bold">Profile</h2>
    </div>
</nav>
<hr />

<div class="text-center container-fluid justify-content-center d-flex p-md-5 h-100">
    <div class="row container align-content-between h-100 w-75 rounded-6">
        <div class="container row p-2">
            <button id="BtnName" class="green-outline-focus zoom-in-hover outline m-1 btn border container rounded-6 d-flex justify-content-between">
                <div class="align-content-end d-flex fw-bold">
                    @Html.DisplayNameFor(model => model.Name)
                </div>
                <div class="align-self-start">
                    @Html.DisplayFor(model => model.Name)
                </div>
            </button>
            <button class="green-outline-focus zoom-in-hover btn m-1 border container rounded-6 d-flex justify-content-between">
                <div class="align-content-end d-flex fw-bold">
                    @Html.DisplayNameFor(model => model.Age)
                </div>
                <div class="align-self-start">
                    @Html.DisplayFor(model => model.Age)
                </div>
            </button>
            <button class="green-outline-focus zoom-in-hover btn m-1 border container rounded-6 d-flex justify-content-between">
                <div class="align-content-end d-flex fw-bold">
                    @Html.DisplayNameFor(model => model.Gender)
                </div>
                <div class="align-self-start">
                    @Html.DisplayFor(model => model.Gender)
                </div>
            </button>
            <button class="green-outline-focus zoom-in-hover btn m-1 border container rounded-6 d-flex justify-content-between">
                <div class="align-content-end d-flex fw-bold">
                    @Html.DisplayNameFor(model => model.Sexuality)
                </div>
                <div class="align-self-start">
                    @Html.DisplayFor(model => model.Sexuality)
                </div>
            </button>
            <button class="green-outline-focus row d-flex zoom-in-hover btn m-1 border container rounded-6 d-flex justify-content-between">
                <div class="align-content-end d-flex fw-bold">
                    @Html.DisplayNameFor(model => model.Interests)
                </div>
                <div class="d-flex flex-wrap">
                    @foreach (string interest in Model.Interests)
                    {
                        <h6 class="p-1 m-1 background-grass-green fw-bold text-white text-truncate rounded-3 border">@interest</h6>
                    }
                </div>
            </button>
            @if (Model.Premium)
            {
                <div class="btn text-white rounded-pill btn-info border row rounded-6 d-flex justify-content-center">
                    <label class="fw-bold fs-5 text-center" >Premium Enabled</label>
                    <label id="PremiumTimer" class="fw-bold fs-6 text-center" >32:12:45</label>
                </div>
            }
        </div>
    </div>
</div>
<div class="modal" id="ChangeNameModal">
     <div class="modal-dialog">
         <div class="modal-content">
            <div class="modal-header">

            </div>
            <div class="modal-body">
                <button class="btn btn-primary">

                </button>
            </div>
            <div class="modal-header">
                <button class="btn btn-danger" data-bs-dismiss="modal"
                onclick="HideNameModal();">Close</button>
            </div>
         </div>
     </div>
</div>
<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="~/js/ProfileEdit.js"></script>